.devoluciones {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  color: #fff;

  .header-devoluciones {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: 2px solid #fff;
    max-width: 1500px;

    .links-secciones {
      list-style: none;
      display: flex;

      li {
        display: inline-block;
        align-items: center;
        padding-right: 1rem;
        font-family: "Roboto", sans-serif;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            color: #f0a500;
          }
        }
      }
    }
  }

  .main-contacto {
    padding: 60px 20px 20px; // Adjusting padding to account for the fixed header
    text-align: left;

    h1 {
      font-size: 36px;
      text-align: center;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 28px;
      margin-top: 30px;
      border-bottom: 2px solid #fff;
      padding-bottom: 10px;
    }

    ol {
      margin-top: 20px;
      padding-left: 20px;

      li {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }

    p {
      line-height: 1.6;
      margin-top: 20px;
      font-size: 18px;
    }

    form {
      margin-top: 40px;
      .form-label {
        font-size: 18px;
      }

      .form-control {
        background-color: #333;
        border: 1px solid #555;
        color: #fff;

        &:focus {
          border-color: #f0a500;
          box-shadow: none;
        }
      }

      .btn-primary {
        background-color: #f0a500;
        border-color: #f0a500;
        color: #000;

        &:hover {
          background-color: #c88500;
          border-color: #c88500;
        }
      }

      .btn-secondary {
        background-color: #555;
        border-color: #555;

        &:hover {
          background-color: #333;
          border-color: #333;
        }
      }
    }
  }
}
